%h1 Manage Users
%table.table.table-striped
  %tr
    %td
      Avatar
    %td
      User Name
    %td
      Email
    %td
      Is Admin
    %td
      Show
    %td
      Edit priveledges\
  - @users.each do |user|
    %tr
      %td
        =image_tag user.avatar_url
      %td
        =user.name
      %td
        =user.email
      %td
        ='Yes' if user.is_admin
      %td
        =link_to 'Show', user
      %td
        =link_to 'Edit', edit_user_path(user)

