.hero.signin_hero
  %h2 Sign Up for sidekick
  %h4 Create an account to customize your innovation experience.
  .container
    .col.left
      =form_for @user do |f|
        -if @user.errors.any?
          .error_messages
            %h2 Form is invalid
            %ul
              -@user.errors.full_messages.each do |message|
                %li
                  =message
        .field
          =f.label :name
          =f.text_field :name, class: 'loginfield'
        .field
          =f.label :email
          =f.text_field :email, class: 'loginfield'
        .field
          =f.label :password
          =f.password_field :password, class: 'passwordfield'
        .field
          =f.label :password_confirmation
          =f.password_field :password_confirmation, class: 'passwordfield'
        .actions
          =f.submit 'Create an account', class: 'submitbutton'
    .col.right
      = image_tag 'edison.png', class: 'primary'
      %br
      %br
      "To invent, you need a good imagination and a pile of junk."
      %br
      &mdash; Thomas A. Edison
      %br
      %br
      =image_tag 'adventurer.png'
      =image_tag 'anchor.png'
      =image_tag 'maverick.png'
      =image_tag 'team_player.png'
  %p
    Already a member?
    =link_to 'Sign In', new_session_path