%h1 Editing Value Proposition

= render 'form'

= link_to 'Show', value_proposition_path
\|
= link_to 'Back to all Value Propositions', pages_value_propositions_path
\|
= link_to 'Manage to all Value Propositions', value_propositions_path