.hero.landing_hero
	.whitesection
		Sidekick
		%br
		meets you wherever
		%br
		you are on your innovation
		%br
		journey, to help you find
		%br
		actions for today and
		%br
		goals for tomorrow
//		%br
//		%br
//		.btn= link_to 'Take the survey!', take_survey_path
.bluesection
	%br
	%br
	We are the Innovation Platform Initiative.
	.row
		.col.left.span6
			=image_tag 'Capt-Kirk.png'
			=image_tag 'MVarona.png'
			=image_tag 'DChristophe.png'
			%br
			=image_tag 'SYang.png'
			=image_tag 'MDurlak.png'
			=image_tag 'SPrasad.png'
			%br
			=image_tag 'NHollier.png'
			=image_tag 'JMclean.png'
			=image_tag 'DMcclure.png'
		.col.right.span6
			IPI is a dynamic group of designers, business professionals and an engineer, dedicated to taking the mystery out of the innovation process. Brisket biltong prosciutto salami beef, capicola leberkas swine kielbasa. Pancetta meatloaf pastrami kielbasa, doner salami rump. Bresaola ham pastrami brisket flank beef ribs short ribs shoulder capicola shankle meatball tenderloin ball tip bacon andouille. Short loin turkey meatball pork belly tongue, corned beef tenderloin doner fatback rump brisket spare ribs shank ball tip. Turducken shoulder tongue pork belly, turkey beef ribs t-bone bacon swine.
.whitepurplesection
	%br
	%br
	Delivering disruptive thinking and
	%br
	empowering technologies.
	.row
		.col.left.span6
			We work with people and organizations who have ambitious missions - whether they are in the commercial, social or government sectors. We set up smart teams who love challenges and think disruptively to help our clients succeed. Shoulder capicola shankle meatball tenderloin ball tip bacon andouille. Short loin turkey meatball pork belly tongue, corned beef tenderloin doner fatback rump brisket spare ribs shank ball tip. 
			%br
		.col.right.span6
			%br
			%br
			%br
			=image_tag 'TWLogo.png'