.hero.landing_hero
	.whitesection
		Sidekick
		%br
		meets you wherever
		%br
		you are on your innovation
		%br
		journey, to help you find
		%br
		actions for today and
		%br
		goals for tomorrow
//		%br
//		%br
//		.btn= link_to 'Take the survey!', take_survey_path
.bluesection
	%br
	%br
	We are the Innovation Platform Initiative—IPI!
	.row
		.col.left.span6
			=image_tag 'IPI Team.png'
		.col.right.span6
			IPI is a dynamic group of designers, business professionals and an engineer, brought together by ThoughtWorks to tackle the challenge of democratizing access to innovation. Over the course of a 12-week summer internship, the team has deconstructed the innovation process, through research, exploration, workshops, and small-scale activities, with an eye toward taking the mystery out of it for those who may not have much innovation experience. 
			%br
			Sidekick is the culmination of the IPI team’s deep dive. An online platform that provides the tools to help innovators throughout their process, Sidekick provides tailored resources and personalized insights to make innovation simpler. 

.whitepurplesection
	%br
	%br
	Delivering disruptive thinking and
	%br
	empowering technologies.
	.row
		.col.left.span6
			We work with people and organizations that have ambitious missions - whether they are in the commercial, social or government sectors. We set up smart teams who love challenges and think disruptively to help our clients succeed. We are focused on helping our industry improve, and believe in sharing what we learn. We are also strong believers in the power of software and technology as tools for social change. Our mission, is to better humanity through software and drive the creation of a socially-responsible and economically-just ecosystem. 
			%br
		.col.right.span6
			%br
			%br
			%br
			=image_tag 'TWLogo.png'