.hero.homepage_hero
  .awesome
    Every good idea
    %br
    needs a path.
    %br
    Start giving your next
    %br
    big idea some structure.
    %br
    Sidekick is here to help.
  .btn= link_to 'GET STARTED!', take_survey_path
%br
.row
  %h3{:align => 'center'} What Sidekick Can Do For You

.row
  .td{:class => 'span6'}
    %p{:align => 'center', :style => 'color: #6bb8d4; font-size: 1.5em;'}Getting to know you
    %p{:align => 'center', :style => 'padding: 10px'} Sometimes just getting started can be tough. Sidekick makes taking that first step easier by beginning with you. Our Innovation-Type Survey, pinpoints your strengths and weaknesses across five spectrums, illuminating what type of innovator you are and providing direction for the way forward. 

  .td{:class => 'span6'}
    %p{:align => 'center', :style => 'color: #6bb8d4; font-size: 1.5em;'}An Innovation Process Just for You
    %p{:align => 'center', :style => 'padding: 10px'} Innovation can be described as a journey from concept to implementation, and all the steps in between. Now that you know what type of innovator you are, let Sidekick help you figure out an innovation process that works best for you. Choose from a variety processes models that suit your Innovator Type, your industry and the current stage of your project.
    //.btn.pull-right= link_to 'Check out our resources.', pages_tools_path

.row
  .td{:class => 'span6'}
    %p{:align => 'center', :style => 'color: #6bb8d4; font-size: 1.5em;'}Plotting Where You Are on the Innovation Journey
    %p{:align => 'center', :style => 'padding: 10px'} After we’ve figured out the process and tools that work best for your type, Sidekick will help you plot the steps moving forward. You’re a smart cookie, and we want to help you succeed by providing you with resources tailored to your needs.
    //.btn.pull-right= link_to 'Read about innovator types.', pages_innovator_path

  .td{:class => 'span6'}
    %p{:align => 'center', :style => 'color: #6bb8d4; font-size: 1.5em;'}An Ever Growing Library of Resources
    %p{:align => 'center', :style => 'padding: 10px'} The right resources are essential to the growth of an idea, and we know how hard it can be to find the exact tools that suit your needs. Count on us for recommendations that will work for any and every stage of your project. We have a growing library of podcasts, e-books, tutorials, articles, activities, and more selected and uploaded by Sidekick users and curated by innovators like you.  
    //.btn.pull-right= link_to 'Check out our resources.', pages_tools_path
%br
.row.phase-gray
  %p{:align => 'left', :style => 'color: #de403c; font-size: 1.5em; margin: 50 0 100 50;'} Most Popular Resources


