.hero.landing_hero
  .awesome
    Every good idea
    %br
    needs a path.
    %br
    Start giving your next
    %br
    big idea some structure.
    %br
    Sidekick is here to help.
  //.btn=link_to 'HOW IT WORKS', pages_aboutus_path
%br
.row
  =link_to 'Take the invovator type quiz!', take_survey_path, :class => 'homepage_button span12'
%br
.row
  =link_to 'Read about innovator types.', 'pages/innovator', :class => 'homepage_button span6'
  =link_to 'Publish a resource.', new_resource_path, :class => 'homepage_button span6'
%br
