.hero.landing_hero
  .awesome
    Every good idea
    %br
    needs a path.
    %br
    Start giving your next
    %br
    big idea some structure.
    %br
    Sidekick is here to help.
  .btn= link_to 'GET STARTED!', take_survey_path

  //.btn=link_to 'HOW IT WORKS', pages_aboutus_path
//* %br
//.row
//  =link_to 'Take the invovator type quiz!', take_survey_path, :class => 'homepage_button span12'
%br
.row
  %h3{:align => 'center'} What Sidekick Can Do For You

.row
  .td{:class => 'span6'}
    %p{:align => 'center', :style => 'color: #6bb8d4; font-size: 1.5em;'}What kind of innovator are you?
    %p{:align => 'center', :style => 'padding: 10px'} Start your process by finding out exactly how you work and innovate in a creative environment. Take the Ipsative survey; a simple, unique, and accurate  way to map out your creative thought process across 5 spectrums of analysis. This result becomes the keystone of your innovative journey on Sidekick as your innovator type is then used to get you to tools and other content  meant to play off your own personal skills and attributes. 

  .td{:class => 'span6'}
    %p{:align => 'center', :style => 'color: #6bb8d4; font-size: 1.5em;'}We have resources for every project.
    %p{:align => 'center', :style => 'padding: 10px'} In this growing world of podcasts, ebooks, tutorials and open source software, one can quickly find themselves bogged into just sorting through the massive amounts of resources out there, where 90% of them provide little to no value. Sidekick provides content, quality tailored to you as an individual, created by users for users. Content creators listen to the feedback from their users, iterating and refining as everyone collaborates to make a truly innovative environment. 
    //.btn.pull-right= link_to 'Check out our resources.', pages_tools_path

.row
  .td{:class => 'span6'}
    %p{:align => 'center', :style => 'color: #6bb8d4; font-size: 1.5em;'}A trusted innovation model you can rely on.
    %p{:align => 'center', :style => 'padding: 10px'} Figuring out how far along you are in your mission can sometimes be a difficult and complex task. Framing the resources and activities you have around the various aspects of your project helps organize priority, concretize gains and realize potential missing links. Sidekick provides not just one, but multiple  models by which you can assess where you are and what more you need to accomplish.
    //.btn.pull-right= link_to 'Read about innovator types.', pages_innovator_path

  .td{:class => 'span6'}
    %p{:align => 'center', :style => 'color: #6bb8d4; font-size: 1.5em;'}A tailored profile that adapts and changes as you do.
    %p{:align => 'center', :style => 'padding: 10px'} The last step is a simple, understandable profile as a way to keep tracks of these types, resources and models that you will encounter as you make your way through the platform.  Make playlists of your favourite tools, keep track of your favourite publishers, and log your project progression seamlessly and easily. 
    //.btn.pull-right= link_to 'Check out our resources.', pages_tools_path
%br
.row.phase-gray
  %p{:align => 'left', :style => 'color: #de403c; font-size: 1.5em; margin: 50 0 100 50;'} Most Popular Resources


