.hero-unit
  %h1 
    Welcome to the Innovation Platform Initiative!
  %p
    We will meet you where you are on your innovation journey and provide you with actions for today and goals for tomorrow.

.row
  =link_to 'Help me to innovate.', 'pages/innovator', :class => 'homepage_button span6'
  =link_to 'Let me publish a resources.', new_resource_path, :class => 'homepage_button span6'
%br
.row
  =link_to 'Learn about your innovator type!', 'surveys/create', :class => 'homepage_button span12'