.hero.innovator_hero
  %h2 Learning About You, The Innovator
  %p
    We all have qualities that make us unique, and those qualities also determine how we innovate. The Sidekick Innovation Type Survey, is a fun and easy way to determine your unique innovation-related characteristics. Click on the link below to get started, or scroll down to read more about the innovation type spectra.
  %br
  .btn=link_to 'TAKE THE SURVEY', take_survey_path
  %br
  %br
.row
  %table.table.table-striped{:style => 'border: 0px;'}
    -@spectrums.each do |spectrum|
      %tr
        %td
          %p{:style => 'text-align: center; font-size: 24px; font-weight: bold; color: #6BB8D4; margin-top: 15px'}
            =spectrum.name
            %br
            =spectrum.description
            %br
            %table
              -spectrum.traits.each do |trait|
                %td{:style => 'border: 0px;' 'background-color: transparent; text-align:center; margin: 10px'}
                  .traitbox.span6
                    %p
                      =image_tag 'adventurer.png'
                      %br
                      %br
                      %p{:style => 'font-weight: bold; color:#6BB8D4'}
                        = trait.name
                    %br
                    %p{:style => 'align: center'}
                    = trait.description
                    %br
                    %br
                    %p{:style => 'color: #6BB8D4; text-align: right'}
                      = link_to 'Show', trait