=image_tag 'LandingBackground.png'

%h2{:style => 'text-align: center'} Every good ideas
%h2{:style => 'text-align: center'} needs a path.
%h2{:style => 'text-align: center'} Start giving your next
%h2{:style => 'text-align: center'} big idea som structure.
%h2{:style => 'text-align: center'} Sidekick is here to help.