.jumbotron.landing_hero
  Welcome to the home for Thoughtworks innovation resources.
.bluesection
  .box
    Step One
  %h2 Getting to know you
  .row
    .col.col-sm-6
      =image_tag 'http://placehold.it/300x200'
    .col.col-sm-6
      Sometimes just getting started can be tough. Sidekick makes taking that first step easier by beginning with you. Our Innovation-Type Survey, pinpoints your strengths and weaknesses across five spectrums, illuminating what type of innovator you are and providing direction for the way forward. 
      %br
      .btn
        =link_to 'Take the survey!', take_survey_path
.whitepurplesection
  .box
    Step Two
  %h2 An innovation process just for you
  .row
    .col.col-sm-6
      Innovation can be described as a journey from concept to implementation, and all the steps in between. Now that you know what type of innovator you are, let Sidekick help you figure out an innovation process that works best for you. Choose from a variety processes models that suit your Innovator Type, your industry and the current stage of your project.
      %br
      .btn
        =link_to 'Find out more!', pages_phases_path
    .col.col-sm-6
      =image_tag 'http://placehold.it/300x200'
.greensection
  .box
    Step Three
  %h2 Plotting where you are on the innovation journey
  .row
    .col.col-sm-6
      =image_tag 'http://placehold.it/300x200'
    .col.col-sm-6
      After we’ve figured out the process and tools that work best for your type, Sidekick will help you plot the steps moving forward. You’re a smart cookie, and we want to help you succeed by providing you with resources tailored to your needs.
      %br
      .btn
        =link_to 'Learn more!'
.whitegoldsection
  .box
    Step Four
  %h2 An ever-growing library of resources
  .row
    .col.col-sm-6
      The right resources are essential to the growth of an idea, and we know how hard it can be to find the exact tools that suit your needs. Count on us for recommendations that will work for any and every stage of your project. We have a growing library of podcasts, e-books, tutorials, articles, activities, and more selected and uploaded by Sidekick users and curated by innovators like you. 
      %br
      .btn
        =link_to 'Find out more!', pages_tools_path
    .col.col-sm-6
      =image_tag 'http://placehold.it/300x200'