.hero.landing_hero
	.whitesection
		In four simple steps
		%br
		Sidekick takes the
		%br
		confusion out of your
		%br
		innovation process.
		%br
.bluesection
	.box.span2.offset5
		Step One
	%br
	%br
	%br
	Getting to know you
	.row
		.col.left.span6
			=image_tag 'innovator_landing_icons.png'
		.col.right.span6
			Brisket biltong prosciutto salami beef, capicola leberkas swine kielbasa. Pancetta meatloaf pastrami kielbasa, doner salami rump. Bresaola ham pastrami brisket flank beef ribs short ribs shoulder capicola shankle meatball tenderloin ball tip bacon andouille. Short loin turkey meatball pork belly tongue, corned beef tenderloin doner fatback rump brisket spare ribs shank ball tip. Turducken shoulder tongue pork belly, turkey beef ribs t-bone bacon swine.
			%br
			%br
			.btn= link_to 'Take the survey!', take_survey_path
.whitepurplesection
	.box.span2.offset5
		Step Two
	%br
	%br
	%br
	An innovation process just for you.
	.row
		.col.left.span6
			Something about how we pick an innovation process that suits not only your innovator type, but your background, your industry and your frame of mind. Shoulder capicola shankle meatball tenderloin ball tip bacon andouille. Short loin turkey meatball pork belly tongue, corned beef tenderloin doner fatback rump brisket spare ribs shank ball tip. Turducken shoulder tongue pork belly, turkey beef ribs t-bone bacon swine.
			%br
			%br
			.btn= link_to 'Find out more!', pages_phases_path
		.col.right.span6
			=image_tag 'step2.png'
.greensection
	.box.span2.offset5
		Step Three
	%br
	%br
	%br
	Plotting where you are on the innovation journey.
	.row
		.col.left.span6
			=image_tag 'step3.png'
		.col.right.span6
			After we’ve figured out what model, and what approach works best for you, sidekick will help you to pick the exact stage that you are at in your project so that you can start to have a more tailored experience. Short loin turkey meatball pork belly tongue, corned beef tenderloin doner fatback rump brisket spare ribs shank ball tip. Turducken shoulder tongue pork belly, turkey beef ribs t-bone bacon swine.
			%br
			%br
			.btn= link_to 'Learn more!'
.whitegoldsection
	.box.span2.offset5
		Step Four
	%br
	%br
	%br
	An ever growing library of resources.
	.row
		.col.left.span6
			Resources are essential to the growth of an idea, and we know how hard it can be to find the exact resource that suits your needs. Count on us to recommend some resources that will work for any and every stage of your project.. Shoulder capicola shankle meatball tenderloin ball tip bacon andouille. Short loin turkey meatball pork belly tongue, corned beef tenderloin doner fatback rump brisket spare ribs shank ball tip. 
			%br
			%br
			.btn= link_to 'Find out more!', pages_tools_path
		.col.right.span6
			=image_tag 'step4.png'