.hero.landing_hero
	.whitesection
		In four simple steps
		%br
		Sidekick takes the
		%br
		confusion out of your
		%br
		innovation process.
		%br
.bluesection
	.box.span2.offset5
		Step One
	%br
	%br
	%br
	Getting to know you
	.row
		.col.left.span6
			=image_tag 'innovator_landing_icons.png'
		.col.right.span6
			Brisket biltong prosciutto salami beef, capicola leberkas swine kielbasa. Pancetta meatloaf pastrami kielbasa, doner salami rump. Bresaola ham pastrami brisket flank beef ribs short ribs shoulder capicola shankle meatball tenderloin ball tip bacon andouille. Short loin turkey meatball pork belly tongue, corned beef tenderloin doner fatback rump brisket spare ribs shank ball tip. Turducken shoulder tongue pork belly, turkey beef ribs t-bone bacon swine.
			%br
			%br
			.btn= link_to 'Take the survey!', take_survey_path