.hero.landing_hero
	.awesome
		Every good ideas
		%br
		needs a path.
		%br
		Start giving your next
		%br
		big idea som structure.
		%br
		Sidekick is here to help.
	.btn= link_to 'GET STARTED!', take_survey_path