%section.phase-grey
	%h1 TW Phases of Innovation
	%table
		%tr
			%td{:rowspan => 2, :width => 350}
				=image_tag "ToolPlaceHolder.png"
			%td{:style => "color: #3aaeef", :height => 35}
				%br
				A cycle based on the Iterative Design Process. Every project passes through the stages of Planning, Acting, Observing, and Reflecting. Based on the descriptions below, please select the stage closest to which you believe your project currently to be.
		%tr
			%td


%section.phase-white
	%table
		%tr
			%td{width: 200}
				%h2 PLAN
			%td{:colspan => 2}
				This part of the project is concerned with understanding the problem space.  This is where someone would be concerned with defining the problem and researching precedents and user needs. Feasible solutions are nominated, based on assessments of cost, time, risk and relevance.
				%br
		%tr
			%td
			%td
				%br
				.btn
					=link_to 'Related resources', resources_path
	
%section.phase-grey
	%table
		%tr
			%td{width: 200}
				%h2 ACT
			%td{:colspan => 2}
				This phase involves taking direct action to synthesize and put out a physical product, or take concrete steps in making the solution outlined in the plan phase a reality. Prototyping, networking, and product development fall under this category. 
				%br
		%tr
			%td
			%td
				%br
				.btn
					=link_to 'Related resources', resources_path

%section.phase-white
	%table
		%tr
			%td{width: 200}
				%h2 OBSERVE
			%td{:colspan => 2}
				At this point you’re analyzing your workflow and the feedback from your actions taken in the prior phases. Focus is on data gathering, trend tracking, user data recording, and comparing real time project deployment with expected models.
				%br
		%tr
			%td
			%td
				%br
				.btn
					=link_to 'Related resources', resources_path

%section.phase-grey
	%table
		%tr
			%td{width: 200}
				%h2 REFLECT
			%td{:colspan => 2}
				This stage is all about refinement. You take a step back and look at all the data you’ve gathered and make note of what’s working and what’s not. You seek out points of note and ways to improve, tweak, and fine tune the model you’ve presented.  New trends and connections are established and product direction and feasibility are updated. This stage leads directly into planning for the next iteration.
				%br
		%tr
			%td
			%td
				%br
				.btn
					=link_to 'Related resources', resources_path

%section.phase-blue
	#Bla-blue