.container
	.hero.phase_hero
		%h2
			Uncovering an innovation process, 
			%br
			that works for you.
			%br
			%br
		%p{:style => 'margin: 0 150px 0 150px;'}
			Sidekick knows every innovation journey is different. What may work for you today may not always work for you three months from now, or even tomorrow. Knowing where you are and where you’re going can help make your project a success. We’ve identified a simple innovation process that can be personalized to fit your needs today and tomorrow.
	.phase_overview
		.row
			.col.left.span6
				=image_tag 'Innovation Processes.png'
			.col.right.span6
				We like to think of innovation process as being something of a chameleon—sometimes linear, sometimes overlapping, sometimes cyclical, and sometimes a little all over the place. But, by looking at the basic components of the innovation process—Plan, Act, Observe, and Reflect—innovators, like you, can begin to place their ideas within a framework that provides both guidance and flexibility to fit thechanging needs of their project. 