

%section.phase-blue
	%h1 Welcome to your user profile page where you can keep track of the tools and resources you use and publish, customize the way you appear on the platform, and connect with other innovators in the community.
	%table
		%tr
			%td{:rowspan => 2, :width => 350}
				=image_tag "profile.png"
			%td{:style => "color: #3aaeef", :height => 35}
				%br
				A cycle based on the Iterative Design Process. Every project passes through the stages of Planning, Acting, Observing, and Reflecting. Based on the descriptions below, please select the stage closest to which you believe your project currently to be.
		%tr
			%td



%section.phase-white
	%table
		%tr
			%td{width: 200}
				%h2 Published Resources
			%td{:colspan => 2}
				This part of the project is concerned with understanding the problem space.  This is where someone would be concerned with defining the problem and researching precedents and user needs. Feasible solutions are nominated, based on assessments of cost, time, risk and relevance.
				%br
		%tr
			%td
			%td
				%br
				.btn
					=link_to 'Tools Used', resources_path
	
%section.phase-grey
	%table
		%tr
			%td{width: 200}
				%h2 Tools Used
			%td{:colspan => 2}
				This phase involves taking direct action to synthesize and put out a physical product, or take concrete steps in making the solution outlined in the plan phase a reality. Prototyping, networking, and product development fall under this category. 
				%br
		%tr
			%td
			%td
				%br
				.btn
					=link_to 'Resources published', resources_path


%section.phase-blue
	#Bla-blue