%section.phase-grey
	%h1 TW Phases of Innovation
	%h4 Blah.
	%table
		%tr
			%td{:rowspan => 2, :width => 350}
				=image_tag "ToolPlaceHolder.png"
			%td{:style => "color: #3aaeef", :height => 35}
				PLAN, ACT, OBSERVE, REFLECT
		%tr
			%td
				Sala niin vie luo ihan ota enta aiti jos. Ei muilla naemme hyotya se syntyi pitkin armosi. On vasten se veisin ne loppuu kiinni tuohon ei. Taynna siihen on suusta se soutaa. Se merille pitaisi te uusilla me on melkein rumasti viinaan. Patriarkat kuivempaan kuitenkaan jo se he semmoiseen lekkeriaan te seinamalle. Ehdittiin ne jatkaessa se en semmoisen.
				%br
				%br
				Merkki kummaa niskaa loi nae saanko meidan rohtoa. Kirmaissut se vakituiset me ei esimerkkia en. Purjeeton pohjineen toi voi oli isa laakariin. Tai ihmisia kajutta isa oikeata ukinkin alkanut totisen. Pannaan itsekin teekaan te on se otetaan ai lankkua. Parjaavat paljonkos ela ryyppasin sai rojottaen. Meidan kerran soudan hintaa sijaan ja niilta en. Et kummaa te ai nakisi huulet merkit me summan. Seka ilta mika jaa ero. Heti raha sina jai peri kai vain. 


%section.phase-white
	%table
		%tr
			%td{width: 150}
				%h1 PLAN
			%td{:colspan => 2}
				Sala niin vie luo ihan ota enta aiti jos. Ei muilla naemme hyotya se syntyi pitkin armosi. On vasten se veisin ne loppuu kiinni tuohon ei. Taynna siihen on suusta se soutaa. Se merille pitaisi te uusilla me on melkein rumasti viinaan. Patriarkat kuivempaan kuitenkaan jo se he semmoiseen lekkeriaan te seinamalle. Ehdittiin ne jatkaessa se en semmoisen.
		%tr
			%td
				.btn
					=link_to 'Related resources', resources_path
	
%section.phase-grey
	%table
		%tr
			%td{width: 150}
				%h1 ACT
			%td{:colspan => 2}
				Sala niin vie luo ihan ota enta aiti jos. Ei muilla naemme hyotya se syntyi pitkin armosi. On vasten se veisin ne loppuu kiinni tuohon ei. Taynna siihen on suusta se soutaa. Se merille pitaisi te uusilla me on melkein rumasti viinaan. Patriarkat kuivempaan kuitenkaan jo se he semmoiseen lekkeriaan te seinamalle. Ehdittiin ne jatkaessa se en semmoisen.
		%tr
			%td
				.btn
					=link_to 'Related resources', resources_path

%section.phase-white
	%table
		%tr
			%td{width: 150}
				%h1 OBSERVE
			%td{:colspan => 2}
				Sala niin vie luo ihan ota enta aiti jos. Ei muilla naemme hyotya se syntyi pitkin armosi. On vasten se veisin ne loppuu kiinni tuohon ei. Taynna siihen on suusta se soutaa. Se merille pitaisi te uusilla me on melkein rumasti viinaan. Patriarkat kuivempaan kuitenkaan jo se he semmoiseen lekkeriaan te seinamalle. Ehdittiin ne jatkaessa se en semmoisen.
		%tr
			%td
				.btn
					=link_to 'Related resources', resources_path

%section.phase-grey
	%table
		%tr
			%td{width: 150}
				%h1 REFLECT
			%td{:colspan => 2}
				Sala niin vie luo ihan ota enta aiti jos. Ei muilla naemme hyotya se syntyi pitkin armosi. On vasten se veisin ne loppuu kiinni tuohon ei. Taynna siihen on suusta se soutaa. Se merille pitaisi te uusilla me on melkein rumasti viinaan. Patriarkat kuivempaan kuitenkaan jo se he semmoiseen lekkeriaan te seinamalle. Ehdittiin ne jatkaessa se en semmoisen.
		%tr
			%td
				.btn
					=link_to 'Related resources', resources_path

%section.phase-blue
	#Bla-blue