


%h1 Some Helpful Resources

=#image_tag 'placeholder.gif'
.row
	- @resources.each do |resource|
		.resourcebox.span12
			%strong= resource.name
			%br
			%span.authorBox= 'Uploaded by: ' + resource.author.name
			%br
			= resource.description
			%br
			%br
			= link_to 'Show', resource

.row
	.btn=link_to 'Publish A Resource', new_resource_path