.hero.resourcelanding_hero
	A library of innovation resources,
	%br
	at your fingertips.
	.goldtextsection
		Our resources have been selected and submitted by innovators who know they work. Not only do we offer quality tools, we make your search simpler by delivering resources tailored to your innovator type. Take our survey, and we’ll send you results, selected just for you. Not ready for the survey? Feel free to browse our library!
		%br
		%br
		.btn
			=link_to 'Resources', resources_path
.whitegoldsection
	%br
	Tailored results.
	.row
		.col.left.span6
			From the time you found our page, Sidekick has made it our main priority to make it as easy as possible to get you to the content that you need. Your survey results and choices help us determine which resources are top priority; our mission is to provide these resources to you in a simple, easily-identifiable format.
			%br
			%br
		.col.right.span6
			.goldimagesize
				=image_tag 'scissors-01.png'
				=image_tag 'tailored-01.png'

.goldsection
	%br
	%br
	Search, Simplified
	.row
		.col.left.span6
			=image_tag 'arrow-02-02.png'
		.col.right.span6
			%br
			After we’ve figured out the process and tools that work best for your type, Sidekick will help you plot the steps moving forward. You’re a smart cookie, and we want to help you succeed by providing you with resources tailored to your needs.
			%br
			%br
			%br

.whitegoldsection
	%br
	Some Helpful Resources
	%br
	%br

=#image_tag 'placeholder.gif'
.row
	- @resources.first(4).each do |resource|
		.resourcebox.span3
			%strong= resource.name
			%br
			%span.authorBox= 'Uploaded by: ' + resource.author.name
			%br
			= resource.description
			%br
			%br
			= link_to 'Show', resource

.row
	.btn=link_to 'Publish A Resource', new_resource_path