.hero.innovator_hero
  %h2 Learning About Your Possibilities
  %p
    We all have qualities that make us unique, and those qualities also determine how we innovate. The Sidekick Innovation Type Survey, is a fun and easy way to determine your unique innovation-related characteristics. Click on the link below to get started, or scroll down to read more about the innovation type spectra.
  %br
  .type_quiz_prompt{:style => 'margin: 0 auto;'}
    -if user_has_taken_quiz
      -current_user.personality.colors.each do |color|
        .div.image_results
          =image_tag color.image, size: '75x75'
          %br
          =color.name
    -else
      Take the innovator type survey to fill out your profile.
      %br
      .btn
        = link_to 'Take the survey!', take_survey_path
  %br
  %br
.row
  %table.table.table-striped{:style => 'border: 0px;'}
    -@value_propositions.each do |value_proposition|
      %tr
        %td
          %p{:style => 'text-align: center; font-size: 24px; font-weight: bold; color: #6BB8D4; margin-top: 15px'}
            =value_proposition.name
            %br
            %ul{:style => 'text-align: center; padding: 0px 150px 0px 150px;'}
              =value_proposition.description
            %br
            .center-container
              -value_proposition.colors.each do |color|
                .absolute-center.traitbox.span4
                  %p
                    =image_tag color.image
                    %br
                    %br
                    %p{:style => 'font-weight: bold; color:#6BB8D4'}
                      = color.name
                  %br
                  %p{:style => 'align: center'}
                  = color.description