.jumbotron.innovator_hero
  %h2 Thoughtworks Value Propositions
  %p
    Every client is different, and Thoughtworks can help those clients innovate in all different ways. This affects how every account is pursued, sold, developed, and measured for success. Each value proposition we present requires a distinct approach to be effective. You can learn about our value propositions here and find helpful resources to assist every stage of these different types of projects.
-@value_propositions.each do |value_proposition|
  .row{:style => 'margin-top: 50px;'}
    .col-sm-12
      %p{:style => 'font-size: 24px; font-weight: bold; color: #6BB8D4;'}
        =value_proposition.name
      %br
      =value_proposition.description
  .row
    -value_proposition.colors.each do |color|
      .col-sm-4
        .panel.panel-default{:style => 'margin: 20px 0px;'}
          .panel-heading
            = color.name
          .panel-body
            =image_tag color.image, class: "color_image"
            %p{:style => 'font-weight: bold; color:#6BB8D4'}
            %br
            %p{:style => 'align: center'}
            = color.description