%h2 Tags

%h4= 'What innovator type is this best suited for?'
.field
  = hidden_field_tag "resource[color_ids][]", nil
  -@colors.each do |color|
    =check_box_tag "resource[color_ids][]", color.id, @resource.color_ids.include?(color.id)
    =color.name
    %br
