%h1 New resource

- url = @step_id.nil? ? create_free_resource_path : create_resource_path(step_id: @step_id)
= render partial: 'form', locals: { url: url }

-if @step_id.nil?
  = link_to 'Back', edit_step_path(@step_id)
-else
  = link_to 'Back', resources_path
