:javascript
  $(function() {
    $("#sortable").sortable({ 
      axis: 'y',
      update: function (event, ui) {
        var data = $(this).sortable("serialize");
        $.post($(this).data("update-url"), data);
      }
    });
  });

%h1 Reordering resources
%p Drag and drop to reorder.
%br
%ul{id: 'sortable', :'data-update-url'=> "#{sort_resources_url}"}
  - @resources.each do |resource| 
    %li{class: "well reorder-items", id: "resource_#{resource.id}"}
      = resource.name
%br
= link_to 'Done', edit_step_path(@step_id), class: "btn btn-default"
