%h1 Your Results

%h3 Question by question
-@answer_hash.each do |question_number, answer|
  %b
    =question_number.to_s
  =Trait.find(answer).name
  %br

%h3 @answer_hash
=@answer_hash
%h3 @answer_ids
=@answer_ids
%h3 @trait_ids
=@trait_ids #placeholder
%h3 @score_hash
=@score_hash #placeholder

%h3 Scored Quiz
-@score_hash.each do |trait_id, count|
  =Trait.find(trait_id).name + ': ' + count.to_s
  %br