=form_tag(get_results_path, method: "get") do
  %h1 Innovator Type Survey
  %p Answer a few questions to find out your innovator type!

  -question_count = 1
  %table.table.table-striped
    -@survey.questions.each do |question|
      %tr
        %td
          %b
            = question_count.to_s.html_safe
        - question.question_responses.each do |question_response|
          %td
            = radio_button_tag(('answers['+question_count.to_s+']'), question_response.trait_id)
          %td
            = question_response.response
      - question_count = question_count + 1
  .actions
    =submit_tag("Get my type")