%h1 Your Results

%h3 Scored Quiz

%div.results_box
  -@personality.colors.each do |color|
    .div.image_results.span2
      =image_tag color.image
      %br
      %h4
        =color.name
        ='(' + ')'
%h3 Understanding Results
%table.table.table-striped
  -@personality.colors.each do |color|
    %tr
      %td{:colspan => '2'}
        %h4=color.name
    %tr
      %td.descriptionImage
        =image_tag color.image
      %td
        =color.description