:javascript
  $(function() {
    $("#sortable").sortable({ 
      axis: 'y',
      update: function (event, ui) {
        var data = $(this).sortable("serialize");
        //$.post($(this).data("update-url"), $(this).sortable("serialize"));
      }
    });
  });
%p Drag and drop to reorder.
%h1 Reordering steps
%ul{id: 'sortable', :'data-update-url'=> "#{sort_steps_url}"}
  - @steps.each do |step| 
    %li{class: "ui-state-default", id: "step_#{step.id}"}
      = step.name
%br
= link_to 'Back', edit_value_proposition_path(@value_proposition_id)
