
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 */

@import "twitter/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Raleway);

td {
  box-sizing: border-box;
  padding: 0px;
}

* {
  font-family: Raleway;
  font-size: 16px;
}

body {
  padding-top: 75px;
}

.div.alert_area {
  padding: 10px;
  margin-bottom: 5px;
  color: #3aaeef;
  padding: 4px;
  .flash {
    text-align: center;
  }
  background-color: #fff388;
}

.btn {
  a { 
  color: #DE403C;
  font-weight: bold;
  text-decoration: none;
  }
}
.like {
  a {
    color: #000;
  }
}
.btn-success {
  a {
    color: #000;
  }
}