// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.EditCommentLink{
  color: #5555FF;
  text-decoration: none;
  cursor: pointer;
}
.EditCommentLink:hover{
  color: #000088;
  text-decoration:underline;
}

.new_comment_text
{
  width:100%;
}


div.comments_block_out{
  background-color:#F0F0F0;
  position:fixed;
  width:30%;
  height:79%;
  right:0px;
  top:50px;
  padding:10px;
  overflow-y:auto;
}
div.comments_block_in{
  background-color:#F0F0F0;
  position:fixed;
  width:30%;
  height:79%;
  right:-30%;
  top:50px;
  padding:10px;
  overflow-y:auto;
}

div.comment{
  width:100%;
  float:none;
  clear:both;
  overflow:hidden;
}
h5.author{
  background-color:#EFBD45;
}

#comment_toggle { 
  height: 15px; 
  width: 104px; 
  position: fixed; 
  top: 20%;
  right:0px; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#comment_toggle span { 
  display: block; 
  background: #EFBD45; 
  color: #fff;
  padding: 10px; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none; 
  cursor:pointer;
}

#comment_toggle span:hover { 
  background: #F0F0F0;
  color:#EFBD45; 
}
