.readonly {
  display: block;
}

.editable {
  display: none;
}

.editing {
  .readonly {
    display: none;
  }

  .editable {
    display: block;
  }
}

.half {
  width: 50%;
  height: 100%;
  display: inline-block;
}
