// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.homepage_button {
	background-color: gray;
  border-radius: 3px;
  text-decoration: none;
	text-align: center;
	padding: 50px 0 50px 0;
	font-size: 2em;
	color:#fff;
}

.traitbox {
  padding: 10px;
  height: 525px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
  p {
    text-align: center;
    color: #3aaeef;
    font-size: 18px;
  }
}

.resourcebox {
  background-color: #e2e2e2;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}

.profile_icon {
  img {
    width: 75px;
    height: 75px;
  }
}

/* Landing page styling */

.landing_hero {
  .btn {
    a {
      color: #000;
      font :{
        family: Raleway;
        weight: bold;
        size: 2em;
      }
    text-decoration: none;
    }
  }
  padding: 50px 15px;
  color: #DE403C;
  text-align: center;
  font-size: 2em;
}

.box {
  padding: 15px;
}

.col {
  font-size: 1.2em;
  text-align: left;
  padding: 40px;
  .btn {
    margin-top: 15px;
  }
}

.resourcelanding_hero {
  background-color: #EFBD45;
  padding: 100px 15px 50px 15px;
  line-height: 1.3em;
  color: #B57B28;
  text-align: center;
  font :{
    size: 2.5em;
  }
  .goldtextsection {
    padding: 50 150 0 150;
    line-height: 20px;
    font :{
      size: 16px;
    }
  }
}

.goldsection {
  background-color: #EFBD45;
  color: #B57B28;
  text-align: center;
}

.bluesection {
  background-color: #6BB8D4;
  color: #FFF;
  text-align: center;
  .btn {
    a {
      color: #FFF;
    }
    background-color: #4291AD !important;
    border-color: #4291AD #4291AD;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  }
  .box {
    background-color: #4291AD;
  }
}

.whitepurplesection {
  background-color: #FFF;
  color: #A33C6D;
  text-align: center;
  .btn {
    a {
      color: #FFF;
    }
    background-color: #A33C6D !important;
    border-color: #A33C6D #A33C6D;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  }
  .box {
    background-color: #A33C6D;
    color: #FFF;
  }
}

.greensection {
  background-color: #9CDFC5;
  color: #000;
  text-align: center;
  .btn {
    a {
      color: #FFF;
    }
    background-color: #60AC8E !important;
    border-color: #60AC8E #60AC8E;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  }
  .box {
    background-color: #60AC8E;
    color: #FFF;
  }
}


.whitegoldsection {
  background-color: #FFF;
  color: #EFBD45;
  text-align: center;
  .btn {
    a {
      color: #FFF;
    }
    background-color: #EFBD45 !important;
    border-color: #EFBD45 #EFBD45;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  }
  .goldimagesize {
    img {
      width: 200px;
    }
  } 
  .box {
    background-color: #EFBD45;
    color: #FFF;
  }
}

.phase-gray {
  background-color: #e2e2e2;
  margin-bottom: 100px;
  padding: 50x 0 200px 50px;
}

.innovator_hero {
  margin: 0 100 0 100;
  text-align: center;
  h2 {
    color: #3aaeef;
  }
}

h2.resourcetitle {
  text-align: center;
  color: #EFBD45;  
}
























