// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.homepage_button {
	background-color: gray;
  border-radius: 3px;
  text-decoration: none;
	text-align: center;
	padding: 50px 0 50px 0;
	font-size: 2em;
	color:#fff;
}

.traitbox {
  padding: 10px;
  height: 525px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
  p {
    text-align: center;
    color: #3aaeef;
    font-size: 18px;
  }
}

.resourcebox {
  background-color: #e2e2e2;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}

.profile_icon {
  img {
    width: 75px;
    height: 75px;
  }
}

.homepage_hero {
  background-image: asset-url('LandingBackground.png');
  width: 100%;
  height: 315px;
  color: #fff;
  text-align: center;
  .btn {
    background-color: hsl(0, 0%, 92%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaeaea", endColorstr="#eaeaea");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#eaeaea), to(#eaeaea));
    background-image: -moz-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -ms-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -o-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: linear-gradient(#eaeaea, #eaeaea);
    border-color: #eaeaea #eaeaea hsl(0, 0%, 92%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
    -webkit-font-smoothing: antialiased;
    a {
      color: #000;
    }
  }
  .awesome {
    margin: 0 auto;
    line-height: 1.3em;
    font-size: 2em;
    padding: 30px;

  }
}

.landing_hero {
  .btn {
    a {
      color: #000;
      font :{
        family: Raleway;
        weight: bold;
        size: 2em;
      }
    text-decoration: none;
    }
  }

  .whitesection {
    background-color: #FFF;
    padding: 100px 15px 100px 15px;
    margin: 0px;
    color: #DE403C;
    text-align: center;
    line-height: 1.3em;
    font :{
    size: 2.5em;
    }
  }
}

.bluesection {
  background-color: #6BB8D4;
  color: #FFF;
  text-align: center;
  line-height: 1.1em;
  font :{
    size: 1.8em;
  }
  .btn {
    a {
      color: #FFF;
    }
    background-color: #4291AD !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4291AD", endColorstr="#4291AD");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#4291AD), to(#4291AD));
    background-image: -moz-linear-gradient(top, #4291AD, #4291AD);
    background-image: -ms-linear-gradient(top, #4291AD, #4291AD);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4291AD), color-stop(100%, #4291AD));
    background-image: -webkit-linear-gradient(top, #4291AD, #4291AD);
    background-image: -o-linear-gradient(top, #4291AD, #4291AD);
    background-image: linear-gradient(#4291AD, #4291AD);
    border-color: #4291AD #4291AD;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
    -webkit-font-smoothing: antialiased;
  }
  .box {
    background-color: #4291AD;
    padding: 4 2 8 2;
    font :{
      size: 0.8em;
    }
  }
  .col {
    &.left {
      text-align: center;
      box-sizing: border-box;
      padding: 40px 0 0 65px;
    }
    &.right {
      text-align: left;
      box-sizing: border-box;
      font :{
        size: 0.7em;
      }
      padding: 40px;
    }
  }
}

.whitepurplesection {
  background-color: #FFF;
  color: #A33C6D;
  text-align: center;
  line-height: 1.1em;
  font :{
    size: 1.8em;
  }

  .box {
    background-color: #A33C6D;
    padding: 4 2 8 2;
    color: #FFF;
    font :{
      size: 0.8em;
    }
  }
  .col {
    &.right {
      text-align: center;
      box-sizing: border-box;
      padding: 60px 25px 0 0px;
    }
    &.left {
      text-align: right;
      box-sizing: border-box;
      color: #000;
      font :{
        size: 0.7em;
      }
      padding: 40px;
    }
  }
}

.greensection {
  background-color: #9CDFC5;
  color: #000;
  text-align: center;
  line-height: 1.1em;
  font :{
    size: 1.8em;
  }
  
  .box {
    background-color: #60AC8E;
    padding: 4 2 8 2;
    color: #FFF;
    font :{
      size: 0.8em;
    }
  }
  .col {
    &.left {
      text-align: center;
      box-sizing: border-box;
      padding: 40px 0 0 65px;
    }
    &.right {
      text-align: left;
      box-sizing: border-box;
      font :{
        size: 0.7em;
      }
      padding: 40px;
    }
  }
}


.whitegoldsection {
  background-color: #FFF;
  color: #EFBD45;
  text-align: center;
  line-height: 1.1em;
  font :{
    size: 1.8em;
  }
  
  .box {
    background-color: #EFBD45;
    padding: 4 2 8 2;
    color: #FFF;
    font :{
      size: 0.8em;
    }
  }
  .col {
    &.right {
      text-align: center;
      box-sizing: border-box;
      padding: 60px 25px 0 0px;
    }
    &.left {
      text-align: right;
      box-sizing: border-box;
      color: #000;
      font :{
        size: 0.7em;
      }
      padding: 40px;
    }
  }
}
.phase-gray {
  background-color: #e2e2e2;
  margin-bottom: 100px;
  padding: 50x 0 200px 50px;
}

.innovator_hero {
  margin: 0 100 0 100;
  text-align: center;
  h2 {
    color: #3aaeef;
  }
}

h2.resourcetitle {
  text-align: center;
  color: #EFBD45;  
}

.row.showresource {
  col {
    &.left {
      font :{
        size: 2.0em;
      }
      box-sizing: border-box;
    }
    &.right {
      box-sizing: border-box;
    }
  }
}

























