// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.homepage_button {
	background-color: #666;
	text-align: center;
	padding: 50px 0 50px 0;
	font-size: 2em;
	color:#fff;
}

.traitbox {
  background-color: #e2e2e2;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}

.resourcebox {
  background-color: #e2e2e2;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}

.landing_hero {
  background-image: url('LandingBackground.png');
  color: #fff
}