// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.homepage_button {
	background-color: #DE403C;
	text-align: center;
	padding: 50px 0 50px 0;
	font-size: 2em;
	color:#fff;
}

.traitbox {
  background-color: #e2e2e2;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}

.resourcebox {
  background-color: #e2e2e2;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}

.landing_hero {
  margin-top: -29px;
  background-image: url('LandingBackground.png');
  width: 100%;
  height: 300px;
  color: #fff;
  text-align: center;
  .btn {
    background-color: hsl(0, 0%, 92%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaeaea", endColorstr="#eaeaea");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#eaeaea), to(#eaeaea));
    background-image: -moz-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -ms-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -o-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: linear-gradient(#eaeaea, #eaeaea);
    border-color: #eaeaea #eaeaea hsl(0, 0%, 92%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
    -webkit-font-smoothing: antialiased;
    a {
      color: #000;
    }
  }
  .awesome {
    margin: 0 auto;
    line-height: 1.3em;
    font-size: 30px;
    padding: 30px;

  }
}

a.logo {
  color: #DE403C;
  font-family: Raleway;
}