section.container1 {
	width: 80%;
	background-color: #e2e2e2;
}
.phase-white {
	background-color: white;
	margin-top: -20px;
}

.phase-grey {
	background-color: #e2e2e2;
	margin-bottom: 0px;
}

.phase-blue {
	background-color: #9fd2ef;
	margin-bottom: 0px;
}