.phase-white {
	background-color: white;
	margin-top: 0px;
	padding-left: 65px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 65px;
}

.phase-grey {
	background-color: #e2e2e2;
	margin-bottom: 0px;
	padding-left: 65px;
	padding-right: 65px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.phase-blue {
	background-color: #9fd2ef;
	margin-bottom: 0px;
	padding-left: 65px;
	padding-right: 65px;
	padding-top: 50px;
	padding-bottom: 50px;
}