// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.authorBox{
  color: #999999;
}

.tag_tag {
  margin: 1.8px 1.5px 1.8px 1.5px;
  padding: 5px;
  border-radius: 15px;
  color: #000;
  text-transform: uppercase;
  font :{
    size: 8.5px;
    weight: normal;
  }
  background-color: #D7D7D7 !important;
  color: #000 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.resource_filters {
  background-color: #fafafa;
  padding: 10px;
  #search_box {
    margin: 1px;
  }
  .manipulate_resource {
    font-weight: normal;
    color: #EE3A43;
    a {
      color: #EE3A43;  
    }
  }
  .trait_filter_box {
    margin: 0 auto;
    width: 120px
  }
  img.trait_filter {
    margin:3px;
  }
  #phase_filters {
    width: 180px;
    margin: 0 auto;
  }
  .phase_filter_box {
    width: 180px;
    margin: 0 auto;
  }
  .phase_filter:hover {
    background-color: #ccc
  }
  .industry_filter_box {
    margin: 0 auto;
    width: 180px;
  }
  .search_title {
    text-align: left;
    font-weight: bold;
    margin: 15px 0 0 3px;
  }
}

tr.small_text {
  font-size: .75em;
}

.industry_tag {
	margin: 1.8px 1.5px 1.8px 1.5px;
	padding: 5px;
	border-radius: 15px;
	color: #000;
	text-transform: uppercase;
	font :{
	  size: 9.5px;
	  weight: normal;

	  }
	background-color: #F9E3B0 !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F9E3B0", endColorstr="#F9E3B0");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#F9E3B0), to(#F9E3B0));
	background-image: -moz-linear-gradient(top, #F9E3B0, #F9E3B0);
	background-image: -ms-linear-gradient(top, #F9E3B0, #F9E3B0);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9E3B0), color-stop(100%, #F9E3B0));
	background-image: -webkit-linear-gradient(top, #F9E3B0, #F9E3B0);
	background-image: -o-linear-gradient(top, #F9E3B0, #F9E3B0);
	background-image: linear-gradient(#F9E3B0, #F9E3B0);
	border-color: #F9E3B0 #F9E3B0;
	color: #000 !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	-webkit-font-smoothing: antialiased;
}

.row.showresource {
  col {
    &.left {
      font :{
        size: 2.0em;
      }
      box-sizing: border-box;
    }
    &.right {
      box-sizing: border-box;
    }
  }
  .authorBox {
    font :{
      size: 14px;
    }
  }
  .resourcetraitbox {
    padding: 0 0 10 0;
    font :{
      size: 14px;
    }
  }
  .goldimagesize {
    img {
      width: 200px;
    }
  } 
}

p.full_description {
  font-size: 1.8em;
  line-height: 1.3em;
  color: #999
}

