// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.authorBox{
  color: #999999;
}

.resource_filters {
  background-color: #fafafa;
  padding: 15px;
  box-sizing: border-box;
  #search_box {
    margin: 20px 30px;

  }
  .trait_filter_box {
    margin: 0 auto;
    width: 120px
  }
  img.trait_filter {
    margin:3px;
  }
  #phase_filters {
    width: 180px;
    margin: 0 auto;
  }
  .phase_filter {
    padding: 30px 0;
    text-align: center;
    width: 80px;
    background-color: #eee;
    float: left;
    margin:5px;
  }
  .phase_filter:hover {
    background-color: #ccc
  }
}

tr.small_text {
  font-size: .75em;
}

.industry_tag {
	margin: 1.8px 1.5px 1.8px 1.5px;
	padding: 5px;
	border-radius: 15px;
	color: #000;
	text-transform: uppercase;
	font :{
	  size: 9.5px;
	  weight: normal;

	  }
	background-color: #F9E3B0 !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F9E3B0", endColorstr="#F9E3B0");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#F9E3B0), to(#F9E3B0));
	background-image: -moz-linear-gradient(top, #F9E3B0, #F9E3B0);
	background-image: -ms-linear-gradient(top, #F9E3B0, #F9E3B0);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9E3B0), color-stop(100%, #F9E3B0));
	background-image: -webkit-linear-gradient(top, #F9E3B0, #F9E3B0);
	background-image: -o-linear-gradient(top, #F9E3B0, #F9E3B0);
	background-image: linear-gradient(#F9E3B0, #F9E3B0);
	border-color: #F9E3B0 #F9E3B0;
	color: #000 !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	-webkit-font-smoothing: antialiased;
}


.btn {
	background-color: #FFF !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF", endColorstr="#FFF");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));
	background-image: -moz-linear-gradient(top, #FFF, #FFF);
	background-image: -ms-linear-gradient(top, #FFF, #FFF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #FFF));
	background-image: -webkit-linear-gradient(top, #FFF, #FFF);
	background-image: -o-linear-gradient(top, #FFF, #FFF);
	background-image: linear-gradient(#FFF, #FFF);
	border-color: #FFF #FFF;
	color: #000 !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	-webkit-font-smoothing: antialiased;
}
