// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signin_hero{
  border-radius: 10px;
  background-color: #ebebeb;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 0 0 30px;
  .container {
    .field {
      .loginfield {
        width: 250px;
      }
      .passwordfield {
        width: 250px;
      }
    }

    .actions {
      .submitbutton {
        padding: 4 10 4 10;
        background-color: transparent;
        color: #DE403C;
        border-radius: 5px;
      }
    }

    width: 100%;
    .col {
      float: left;
      display: block;
      &.left {
        width: 35%;
        margin: 30px 40px;
      }
      &.right {
        margin: 20px 40px;
        .typeicons {
          margin: 125px 0;
        }
        img {
          width: 75px;
          height: 75px;
          &.primary {
            height: auto;
            width: auto;
          }
        }
      }
    }
  }
}