// Place all the styles related to the Survey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.results_box{
  width:100%; 
  height:auto; 
  clear:both; 
  text-align:left; 
}
div.image_results {
  float:left; 
  text-align:center;
  margin-right: 10px;
}
td.descriptionImage {
  width: 10%;
}
