// Place all the styles related to the Survey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.results_box{
  width:100%; 
  height:auto; 
  text-align:left;
  display:inline-block;
}
div.image_results {
  text-align:center;
  margin-right: 10px;
  display:inline-block;
}
td.descriptionImage {
  width: 10%;
}
