// Place all the styles related to the Value Propositions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col {
  width: 260px;
  display: inline-block;
  vertical-align: top;
}

.vp_steps {
  display: inline-block;
  width: 240px;
  margin-bottom: 20px;
  position: relative;
  top: 10px;
  vertical-align: top;
  text-align: center;
}

.step_resources.well.small-well {
  font-size: 12px;
  margin: 5px;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 70px;
  min-height: 60px;
}

.step_resources.well.small-well span{
  display: table-cell;
  vertical-align: middle;
}

