%h1 Suggestions for IPI

%table.table.table-striped
  %tr
    %th Author
    %th Thoughts
    %th

  - @suggestions.each do |suggestion|
    %tr
      %td= suggestion.author
      %td= suggestion.thoughts
      %td= link_to 'Resolved', suggestion, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

.btn
  = link_to 'New Suggestion', new_suggestion_path
