%h1 Editing Value Proposition Categories

= render 'form'

= link_to 'Show', value_proposition_categories_path
\|
= link_to 'Back to all Value Proposition Categories', pages_value_proposition_categories_path
\|
= link_to 'Manage to all Value Proposition Categories', value_proposition_categories_path