-if current_user
  .well.footer
    .btn-group
      -if current_user.is_admin
        .btn
          =link_to 'Users', users_path
      .btn
        =link_to 'Resources', resources_path
      .btn
        =link_to 'Value Propositions', pages_value_propositions_path
      .btn
        =link_to 'Question Responses', question_responses_path