.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .btn-group.pull-left
        .btn
          =link_to 'Innovator', pages_innovator_path
        .btn
          =link_to 'Tools', pages_tools_path
        .btn
          =link_to 'Phases', pages_phases_path
        .btn
          =link_to 'About', pages_aboutus_path
      .brand
        =link_to 'sidekick', root_path
      .right_box.pull-right
        .content
          -if current_user
            ='Welcome, ' + current_user.name + ' | '
            = link_to "Log Out", session_path("current"), method: "delete"
          -else
            =link_to 'Sign up!', new_user_path
            =link_to 'Sign in', new_session_path
        .btn.suggestions_button
          =link_to 'Suggestions', suggestions_path