%header.navbar.navbar-default.navbar-fixed-top.bs-docs-nav
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".bs-navbar-collapse"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'ThoughtWorks Innovation Resources', root_path, class: "navbar-brand"
    %nav.collapse.navbar-collapse.bs-navbar-collapse{ :role =>"navigation"}
      %ul.nav.navbar-nav
        %li
          =link_to 'Value Proposition Categories', pages_value_proposition_categories_path
        %li
          =link_to 'Resources', resources_path
        %li
          =link_to 'About', pages_aboutus_path
      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %li
            = link_to  'Welcome, ' + current_user.name, current_user, id: "user_profile"
          %li
            = link_to "Log Out", session_path("current"), method: "delete", id: "log_out"
        -else
          %li
            =link_to 'Sign up', new_user_path, id: "create_account"
          %li
            =link_to 'Sign in', new_session_path
