.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .brand
        =link_to 'IPI Platform Initiative', root_path
      .btn-group.pull-right
        .btn
          =link_to 'Innovator', pages_innovator_path
        .btn
          =link_to 'Resources', resources_path
        .btn
          =link_to 'Traits', traits_path
        .btn
          =link_to 'Phases', pages_phases_path
        .btn
          =link_to 'About', pages_aboutus_path
      .btn.suggestions_button.pull-left
        =link_to 'SUGGESTIONS', suggestions_path



