.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .brand
        =link_to 'IPI Platform Initiative', root_path
      .btn-group.pull-right
        .btn
          =link_to 'Innovator', 'pages/innovator'
        .btn
          =link_to 'Resources', resources_path
        .btn
          =link_to 'Traits', traits_path